#login-container {
    background-color: rgb(245, 247, 250);
}
#login-form {
    width: 25rem;
    height: 29rem;
}
#manage-all-customers {
    background-image: url('./bg-right.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}
#manage-all-customers h1 {
    color: #042D60;
}
.login-btn {
    background-color: rgb(0, 112, 209);
}
.forgot-password-text, .dont-have-account {
    color: rgb(0, 112, 209);
}